<?xml version="1.0" encoding="UTF-8"?>
<app>
  <salon>
    <name>Samara Eduarda Nail Designer</name>
    <subtitle>Manicure e Pedicure</subtitle>
    <phone>(61) 99684-6299</phone>
    <address>Estância Mestre D' Armas 06 Modulo B - Planaltina DF</address>
    <show_duration>0</show_duration>
  </salon>
  <schedule>
    <start>08:00</start>
    <end>18:00</end>
    <interval>30</interval>
  </schedule>
  <social>
    <instagram>https://www.instagram.com/samaraeduarda_nails/</instagram>
    <facebook/>
    <tiktok/>
  </social>
  <about>
    <image>assets/01.jpeg</image>
    <image_zoom>1</image_zoom>
    <image_pos_x>0</image_pos_x>
    <image_pos_y>0</image_pos_y>
    <label>Sobre mim</label>
    <text>Olá! Sou Samara Eduarda, Nail Designer especializada em manicure, pedicure e cuidados que valorizam a beleza das suas unhas.</text>
    <signature>Samara Eduarda</signature>
    <text_font>brand-serif</text_font>
    <signature_font>brand-script</signature_font>
    <label_color>#bd665d</label_color>
    <text_color>#743632</text_color>
    <signature_color>#a65a54</signature_color>
  </about>
</app>
